<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sum of number</title>
</head>
<body bgcolor="skyblue">
<center>
    <marquee behaviour="alternate" direction="left" scrollamount="5"><h1 style="color:black"><i> User enter the Data </i></h1></marquee>
    <form action="./add" method="get">
        Enter first number :<input type="number" name="t1" style="color:blue">
        Enter second number :<input type="number" name="t2" style="color:blue">
        <input type="submit" value="SUBMIT">
    </form>
</center>

</body>
</html>